@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');


body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
    margin-bottom: 80px;
    color: black
}

footer {
    position: absolute;
    padding: 16px;
    width: 100%;
    font-size: large;
    color: black;
}
img {
    height: 200px;
}

nav {
    border-color: black;
    border: width 100px;
    border-bottom-color: red;
    padding:16px;
}

.no-underline {
    text-decoration: none;

}

.main-nav {
    border-color: black;
    border: width 100px;
    border-bottom-color: red;
    padding:16px;
    background-color: black;


}
.footer-main {
    background-color: brown;
    position: absolute;
    padding: 16px;
    width: 100%;
    font-size: large;
    font-style: oblique;
    color: black;
}
a:visited {
    color: darkgreen;
}

a:hover {
    color: blue;
}
h1 {
    color: black;
}

.container {
    display: inline-grid;
    padding: 120px;
    padding-top: 0%;
  }


tr:nth-child(even) {
    background-color: gray;
}

ol:nth-child(even) {
    background-color: black;
    color: white;
}

.detail-header {
    font-style: oblique;
}




main h1 {
    padding: 0px;
    margin-bottom: 80px;
    color: red
}
